<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Optimizing Agricultural Production</title>

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">    
        <link href="{{url_for('static', filename = 'styles.css')}}" rel="stylesheet">
                <style type="text/css">
        .login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://wallpapercave.com/wp/wp1886342.jpg');
  background-size: cover;
  background-position: center center;
}
</style>

    </head>
    <body>
       

        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 d-none d-md-flex bg-image"></div>
        
        
                <!-- The content half -->
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
        
                        <!-- content-->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mx-auto">
                                    <h4 class="display-4">Crop Recommendation</h4>
                                    <form action="{{url_for('predict')}}" method="post">
                                        <div class="form-group mb-3">
                                            
                                            <input name="aa" id="aa" type="number" step=0.01 placeholder="Nitrogen" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                            <br>
                                            
                                            <input name="bb" id="bb" type="number" step=0.01  placeholder="Phosphorous" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                            <br>
                                            
                                            <input name="cc" id="cc" type="number" step=0.01 placeholder="Potassium" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                            <br>
                                            
                                            <input name="dd" id="dd" type="number" step=0.01 placeholder="Temperature(C)" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                            <br>
                                            
                                            <input name="ee"id="ee" type="number" step=0.01 placeholder="Humidity" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                            <br>
                                            
                                            <input name="ff"id="ff" type="number" step=0.01 placeholder="PH Value" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                            <br>
                                           
                                            <input name="gg" id="gg" type="number" step=0.01 placeholder="Rainfall" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Predict</button>
                                    </form>
                                    <p>{{prediction_text}}</p>
                                </div>
                            </div>
                        </div><!-- End -->
        
                    </div>
                </div><!-- End -->
        
            </div>
        </div>
        
        
    </body>
</html>
